{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovinder - Знакомься, встречайся, заводи друзей</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">    
</head>
<body>
    
    <!-- Контейнер с изображением на всю ширину экрана -->
    <div class="parallax-image">
        <img src="{% static 'media/main.jpg' %}" alt="Background Image">
        <div class="overlay-text">
            <h1>❤️ Lovinder</h1>
            <h2>Найди свою любовь!</h2>
        </div>
    </div>

    <!-- Текстовый блок, который появляется при прокрутке -->
    <button class="gradient-button mx-auto"><a style='text-decoration: none; color: aliceblue;' href="{% url 'login' %}">Ищу!..</a></button>
    <div class="content">
            <div class="container my-5">
            <div class="row g-4">
                <!-- Первый блок -->
                <div class="col-md-4">
                    <div class="testimonial-card">
                        <div class="testimonial-name">Мария</div>
                        <div class="testimonial-text">
                            💬 Думала, Тиндер — это для москвичей с айфонами. А нет, мой нашелся в соседнем подъезде, через дорогу от Магнита. Теперь вместе собираем наклейки на сковородки!
                        </div>
                    </div>
                </div>
                <!-- Второй блок -->
                <div class="col-md-4">
                    <div class="testimonial-card">
                        <div class="testimonial-name">Ольга</div>
                        <div class="testimonial-text">
                            🥰 Я из тех, кто ест пельмени на ужин и смотрит старые 'Ералаш'. Теперь мы едим их вдвоем — с человеком, который тоже кладет сметану в чай.
                        </div>
                    </div>
                </div>
                <!-- Третий блок -->
                <div class="col-md-4">
                    <div class="testimonial-card">
                        <div class="testimonial-name">Андрей</div>
                        <div class="testimonial-text">
                            👌Я начал пользоваться Ловиндером не потому, что одинок, а потому что мама сказала: 'Сынок, тебе уже 30'. Теперь я могу ответить: 'Мама, я нашел ту самую'.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>    
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>